#sidebar-nav {
    width: 300px;
}

#profile{
    height: 170px;
    width: 170px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    overflow: hidden;
}

#profile img{
    height: 170px;
    width: 170px;
}

#profile-component{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-link:hover{
    background-color: rgb(147, 149, 180);
}

.ds-alert{
    display:none;
}

#upload-btn{
    height: 40px;
    width : 40px;
    margin-top: 80%;
    margin-left : -50px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    overflow: hidden;
    background-color: white;
}

#upload-btn img{
    height: 25px;
    width : 25px;
    padding: 0px;
}

#profileImage
{
    cursor: pointer;
}

#profileImg{
    height: 200px;
    width : 200px;
}